.Form{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  width:50%;
  margin-left:20%;
  margin-right:20%;
  border: 2px solid silver;
  margin-bottom:10px;
  margin-right: -50px;
}
