.inputForm{
  display:inline-flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  opacity: 0.9;
  /* background-color: blue; */
}

.field{
  display: flex;
  width:100%;
  justify-content: center;
  letter-spacing: 1px;
}

.inputLabel{
  padding: 5px 5px;
  display:flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 50%;
  opacity: 0.9;
}

.inputField{
  display: flex;
  align-items: flex-start;
  width: 50%;
  opacity: 0.95;
  padding-left:10px;
}
