
.top_nav_wrapper{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 34px;
  left: 0px;
  width: 100%;
  background-color: black;
  z-index: +1;
}

.topnav {
  justify-content: flex-start;
  background-color: #333;
  overflow: hidden;
  border-bottom: 2px solid silver;
}

.topnav a {
  float: left;
  width: 14%;
  text-align: center;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 14px;
  text-decoration: none;
  font-size: 20px;
  justify-content: flex-start;
  font-weight: bold;
  color: silver;
}

.topnav a:hover {
  background-color: silver;
  color: black;
}
