.top-nav {
  position: fixed;
  display: flex;
  width: 100%;
  margin-top: 44px;
  justify-content: space-evenly;
  background-color: #000000;
}

.top-nav nav a {
  float: left;
  width: 150px;
  text-align: center;
  padding: 5px 0 5px 0;
  text-decoration: none;
  font-size: 1rem;
  justify-content: flex-start;
  font-weight: bold;
  color: silver;
}

.top-nav nav a:hover {
  border-bottom: 3px solid #53DB53;
}
